@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

.search {
  text-align: center;
  max-height: 100vh;
}

/* .search > img {
  width: 100%;
  max-width: 30%;
  margin-top: 2%;
} */

.pokeNome {
  text-transform: capitalize;
}

#pokeImagem {
  width: 15%;
}
